<form method="post" action="{% url 'issue_app_issue_change_status' record.slug %}">
                        {% csrf_token %}
                        <input hidden name="is_from_list" value="1">
                        {% if record.status == 0 %}
                            <button type="submit" class="btn btn-primary btn-sm">Set Done</button>
                        {% elif record.status == 1 %}
                            <button type="submit" class="btn btn-danger btn-sm">Set Open</button>
                        {% endif %}
</form>