<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <header class="col-md-12">
                    <h1>Welcom to my site</h1>
                    <h3>You can add your stuff here</h3>
                    <a href="#" class="btn btn-primary" type="button">Add your stuff</a>
                </header>
            </div>
            
        </div>
        
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-offset-4 col-md-4">
                <h4>Some text with <small>secondary text</small></h4>
            </div>
            <div class="col-md-4">
                <h4>
                    Add to your favourite
                    <small>
                        <kbd><kbd>ctrl</kbd> + <kbd>d</kbd></kbd>
                    </small>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" style="background-color: aquamarine;">
                <samp>This text is meant to be treated as sample output from a computer program.</samp>
            </div>
            <div class="col-md-9">
                <img src="https://via.placeholder.com/800x200" class="rounded float-left" alt="Responsive image">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="https://via.placeholder.com/200x100" class="rounded float-left" alt="Responsive image">
            </div>
            <div class="col-md-6">
                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer>Testimonial from someone at <cite title="Source Title">Source Title</cite></footer>
                           </blockquote>
            </div>
            <div class="col-md-3">
                <img src="https://via.placeholder.com/200x100" class="rounded float-left" alt="Responsive image">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" >
                <h3>Lowwercase</h3>
                <p class="text-lowercase">
                    Lorem ipsum dolor ... consequat.
                </p>
            </div>
            <div class="col-md-3">
                <h3>Uppercase</h3>
                <p class="text-uppercase">
                    Lorem ipsum dolor ... consequat.
                </p>
            </div>
            <div class="col-md-3">
                <h3>Capitalize</h3>
                <p class="text-capitalize">
                    Lorem ipsum dolor ... consequat.
                </p>
            </div>
            <div class="col-md-3">
                <h3>Strong and italic</h3>
                <p class="text-uppercase">
                    <strong>Strong in this</strong> Lorem ipsum dolor ... <em>the italic one </em>consequat.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" style="background-color: darkmagenta;">1/4</div>
            <div class="col-md-7" style="background-color: darkmagenta;">1/4</div>
            <div class="col-md-3" style="background-color: darkorange;">1/4</div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>