{% extends "admin/base.html" %}
{% load static %}
{% block content %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-md-9">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">
                    {{ object.name }}
                </h3>
            </div>
            <div class="box-body">
                <table class="table">
                    <tr>
                        <td>name</td>
                        <td>{{ object.name }}</td>
                    </tr>

                    <tr>
                        <td>Project name</td>
                        <td>{{ object.project.name }}</td>
                    </tr>

                    <tr>
                        <td>created</td>
                        <td>{{ object.created }}</td>
                    </tr>
                    <tr>
                        <td>last_updated</td>
                        <td>{{ object.last_updated }}</td>
                    </tr>
                    <tr>
                        <td>description</td>
                        <td>{{ object.description }}</td>
                    </tr>
                    <tr>
                        <td>type</td>
                        <td>{{ object.type_text }}</td>
                    </tr>
                    <tr>
                        <td>priority</td>
                        <td>{{ object.priority_text }}</td>
                    </tr>
                    <tr>
                        <td>status</td>
                        <td>{{ object.status_text }}</td>
                    </tr>
                </table>

                 <form method="post" action="{% url 'issue_app_issue_change_status' object.slug %}">
                        {% csrf_token %}
                        {% if object.status == 0 %}
                            <button type="submit" class="btn btn-primary">Set Done</button>
                        {% elif object.status == 1 %}
                            <button type="submit" class="btn btn-danger">Set Open</button>
                        {% endif %}
                 </form>


            </div>
        </div>

    </div>
    <div class="col-md-3">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">
                    Add Comments
                </h3>
            </div>


            <div class="box-body">
                <form  method="post" action="{% url 'comment_app_comment_create_with_issue_app' object.pk %}">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button class="btn btn-primary" type="submit">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Comments</h3>
            </div>
            <div class="box-body">
                {% render_table table %}
            </div>
        </div>
    </div>
</div>

{% endblock %}